/* top-nav start */
.top-nav {
  justify-content: space-between;
  align-items: center;
  background: var(--branding-success, #00b207);
  box-shadow: 0px 1px 0px 0px #e5e5e5;
}

.top-nav-address {
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4px;
}

.location-icon {
  font-size: 10px;
  margin-top: 3px;
}

.top-nav-right,
.language,
.currency,
.account > .signin,
.account > .slash-line,
.account > .signup {
  color: var(--gray-scale-white, #fff);
  text-align: center;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

.dropdown-menu {
  min-width: inherit;
  background-color: #00b207;
  border: none;
}

.dropdown-toggle {
  color: white;
  font-size: 12px;
  border: none;
}

.dropdown-toggle::after {
  display: inline-block;
  width: 0.5em;
  height: 0.5em;
  vertical-align: middle;
  content: "";
  border: 0.3em solid;
  border-width: 0 0.15em 0.15em 0;
  transform: rotateZ(45deg);
}

/* top-nav end */

/* search nav start */
.search-nav {
  display: grid;
  align-items: center;
  min-height: 88px;
  background: #f2f2f2;
  padding-top: 5px;
}

.search {
  position: relative;
  width: 100%;
  align-items: center;
  gap: 8px;
}

.search input {
  text-indent: 25px;
  border: 2px solid #d6d4d4;
  background-color: #f2f2f2;
}

.search input:focus {
  box-shadow: none;
  border: 2px solid #00b207;
}

.search .fa-search {
  position: absolute;
  top: 12px;
  left: 16px;
  color: #1a1a1a;
}

.search button {
  position: absolute;
  top: 1px;
  right: 0px;
  background: #00b207;
  color: #fff;
}

.search-nav-right .search-nav-heart {
  font-size: 25px;
  padding: 10px;
}

.search-nav-right .fa-bag-shopping {
  font-size: 25px;
  padding: 10px;
}

.search-nav-right .fa-bag-shopping span {
  font-size: 10px;
  margin-top: 15px;
  margin-left: -5px;
}

.search-nav-right p {
  color: var(--gray-scale-gray-700, #4d4d4d);
  font-family: Poppins;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.search-nav-right span {
  color: var(--gray-scale-gray-900, #1a1a1a);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
}

/* search nav end */

/* navbar start */
.main-navbar {
  background-color: #e6e6e6;
  /* padding         : 10px 0px; */
  min-height: 50px;
  display: flex;
  align-items: center;
}

.side-bar {
  background-color: #00b207;
  display: grid;
  align-items: center;
  justify-content: center;
  height: 50px;
  /* margin-top      : 18px; */
}

.main-navbar-middle {
  display: grid;
  align-items: center;
  /* padding    : 10px 0px; */
  height: 50px;
}

.navbar-nav {
  background-color: #e5e5e5;
  padding: 0px 5px;
}

.phone-and-call {
  color: var(--gray-scale-gray-900, #1a1a1a);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  height: 50px;
  display: flex;
  align-items: center;
  /* margin-top : 30px; */
}

.phone-and-call span {
  color: var(--gray-scale-gray-900, #1a1a1a);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  height: 50px;
  display: flex;
  align-items: center;
  /* margin-top : 12px; */
}

/* navbar end */
/* slider carousel start */
.carousel-slider {
  height: 700px;
  margin-top: 5%;
}

.main-slider {
  position: relative;
}

.slider-img {
  position: absolute;
  z-index: 100;
}

.discount-sticker {
  position: absolute;
  top: 37%;
  left: 85%;
  padding: 3px 8px;
  display: grid;
  align-items: center;
  justify-content: center;
  align-items: center;
  background-color: #ff8a00;
  transform: translate(-50%, -50%);
  height: 100px;
  width: 100px;
  border-radius: 50%;
  color: var(--gray-scale-white, #fff);
  text-align: center;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}

.carousel-indicators-btn {
  /* margin-top: 100px !important; */
  /* display: none; */
  color: red;
}

.carousel-right-content {
  /* display    : grid; */
  /* align-items: center; */
  margin-top: 10%;
}

.carousel-right-content p {
  color: var(--branding-success, #00b207);
  font-family: Segoe Script;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0.28px;
  text-transform: uppercase;
}

.carousel-right-content h2 {
  color: var(--gren-gray-scale-900, #002603);
  font-family: Poppins;
  font-size: 56px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}

.carousel-right-content h6 {
  color: var(--gren-gray-scale-500, #618062);
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.carousel-right-content button {
  display: inline-flex;
  padding: 10px 40px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border-radius: 43px;
  background: var(--branding-success, #00b207);
}

.carousel-pre-btn {
  color: #002603;
  padding: 13px;
  border-radius: 50%;
  border: 1px solid #000000;
}

.carousel-next-btn {
  color: #002603;
  padding: 13px;
  border-radius: 50%;
  border: 1px solid #000000;
}

/* slider carousel end */
/* fiture products start */
.products {
  height: 1321px;
}

.fiture-products {
  height: 600px;
  background-color: #fff;
  margin-top: -200px;
}

.fiture-products-title {
  color: var(--gren-gray-scale-900, #002603);
  text-align: center;
  font-family: Poppins;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  margin-top: 5rem;
  /* 48px */
}

/* fiture products end */
/* special Details start */
.special-details {
  min-height: 527px;
  background: var(--gren-gray-scale-50, #edf2ee);
}
.special-details .details {
  text-align: center;
}
.special-details .details p {
  color: var(--branding-success, #00b207);
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 16px */
  letter-spacing: 0.32px;
  text-transform: uppercase;
}
.special-details .details h2 {
  color: var(--gren-gray-scale-900, #002603);
  text-align: center;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}
.special-details .details button {
  display: inline-flex;
  padding: 10px 40px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border-radius: 43px;
  background: var(--branding-success, #00b207);
}
.count-down {
  border-radius: 6px;
  background: var(--gray-scale-white, #fff);
  display: flex;
  padding: 20px 8px;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  width: 20%;
  margin: 5px;
}
.time-count {
  color: var(--branding-success, #00b207);
  text-align: center;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}
.time-and-day {
  color: var(--gren-gray-scale-500, #618062);
  text-align: center;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
/* special Details end */
/* product details start */
.product-details {
  min-height: 500px;
  background: var(--gray-scale-white, #fff);
  padding-top: 5%;
}
.product-details-bg-img-1 {
  background-image: url("/assets/images/ekshop-images/milk.png");
  height: 255px;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 5px;
  width: 32%;
  margin-left: 1%;
}
.product-details-bg-img-2 {
  background-image: url("/assets/images/ekshop-images/soft-drink.png");
  height: 255px;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 5px;
  width: 32%;
  margin-left: 1%;
}
.product-details-bg-img-3 {
  background-image: url("/assets/images/ekshop-images/fruits.png");
  height: 255px;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 5px;
  width: 32%;
  margin-left: 1%;
}

.product-details-first {
  margin-top: 15%;
}
.product-details-first h2 {
  color: var(--gray-scale-white, #fff);
  text-align: justify;
  font-family: Poppins;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 38.4px */
}
.product-details-first h6 {
  color: rgba(255, 255, 255, 0.8);
  text-align: justify;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
}
.product-details-first button {
  background-color: #fff;
  border-radius: 43px;
  padding: 10px 32px;
  font-size: 14px;
  color: #00b207;
}
/* product details end */
/* review start */
.review {
  background: var(--gren-gray-scale-50, #edf2ee);
  height: 1042px;
  padding-top: 5rem;
}
.review-title {
  color: var(--gren-gray-scale-900, #002603);
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  padding: 2rem;
}
/* review end */
/* news start */
.vide {
  height: 1000px;
  background-color: #fff;
}
.vide-news iframe {
  width: 95%;
  height: 500px;
  margin-top: -15rem;
}
/* news end */
/* latest news start */
.news {
  min-height: 518px;
  background: var(--gren-gray-scale-50, #edf2ee);
  display: grid;
  align-items: center;
  border-top: 1px solid #173b1a50;
}
/* latest news end */
/* news letter start */
.news-letter {
  min-height: 518px;
  background: var(--gren-gray-scale-50, #edf2ee);
  display: grid;
  align-items: center;
  border-top: 1px solid #173b1a50;
  /* background : #B4CCB4; */
}

/* news letter end */
/* footer top start */
.footer-top {
  padding-top: 5rem;
  padding-bottom: 5rem;
  min-height: 5rem;
  color: #cccccc;
  background: var(--gren-gray-scale-900, #002603);
  box-shadow: 0px -1px 0px 0px #1b421d;
}

.footer-top-list {
  list-style: none;
}

.footer-top-list li {
  color: var(--gren-gray-scale-500, #618062);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.footer-top-list li:first-child {
  color: var(--gray-scale-white, #fff);
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  padding-bottom: 1rem;
}

.footer-top-list li:first-child:hover {
  color: #00b207;
}

/* footer top end */
/* bottom fotter start */
.bottom-footer {
  min-height: 50px;
  background: var(--gren-gray-scale-900, #002603);
  display: grid;
  align-items: center;
}

.bottom-footer-container {
  border-top: 1px solid #173b1a;
  border-right: 1px solid #173b1a;
  padding-top: 10px;
}

.bottom-footer-social-icons .icon-1,
.icon-2,
.icon-3,
.icon-4 {
  color: #96b297;
}

.bottom-footer-social-icons .icon-1:hover {
  background-color: #00b207;
  padding: 10px;
  border-radius: 50%;
}

.bottom-footer-social-icons .icon-2:hover {
  background-color: #00b207;
  padding: 10px;
  border-radius: 50%;
}

.bottom-footer-social-icons .icon-3:hover {
  background-color: #00b207;
  padding: 10px;
  border-radius: 50%;
}

.bottom-footer-social-icons .icon-4:hover {
  background-color: #00b207;
  padding: 10px;
  border-radius: 50%;
}

.copyright-message {
  color: var(--gren-gray-scale-500, #618062);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.payment-methods {
  height: 30px;
}

.payment-methods img {
  border: 1px solid #173b1a;
  padding: 5px;
  margin: 2px;
}

/* bottom fotter end */
